* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smooth: always; */

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  /* Normalize font stack. */
  font-family: "-apple-system", "BlinkMacSystemFont", ".SFNSText-Light",
    ".HelveticaNeueDeskInterface-Light", "Noto Sans", "Roboto", "Oxygen-Sans",
    "Ubuntu", "Cantarell", "Segoe UI", "Arial", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 100%;
  line-height: 1.4;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html,
  button,
  input,
  select {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

body {
  color: #292929;
  padding: 1.5em;
}

::selection {
  background-color: rgba(254, 231, 0, 0.9);
  color: #292929;
}

a {
  color: #292929;
}
a:hover {
  color: #0000cc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 1em;
  margin: 1em;
}

code,
pre {
  font-family: monospace;
}

blockquote {
  font-style: italic;
}

p {
  hyphens: auto;
}

cite {
  display: block;
  font-style: normal;
}
blockquote cite {
  font-style: italic;
}

img {
  max-width: 100%;
}

/* ==== aesthetics ========================================================== */
.aesthetics {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

.centered {
  text-align: center;
  flex-grow: 1;
}

/* Animation */
.cursor {
  animation: cursor-blink alternate 0.75s infinite;
  will-change: color;
}
@-moz-keyframes cursor-blink {
  from {
    color: black;
  }
  to {
    color: transparent;
  }
}
@-webkit-keyframes cursor-blink {
  from {
    color: black;
  }
  to {
    color: transparent;
  }
}
