* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smooth: always; */

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  /* Normalize font stack. */
  font-family: "-apple-system", "BlinkMacSystemFont", ".SFNSText-Light",
    ".HelveticaNeueDeskInterface-Light", "Noto Sans", "Roboto", "Oxygen-Sans",
    "Ubuntu", "Cantarell", "Segoe UI", "Arial", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 100%;
  line-height: 1.4;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  html,
  button,
  input,
  select {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

body {
  color: #292929;
  padding: 0 1.5em;
  margin: 0;
}

::selection {
  background-color: rgba(254, 231, 0, 0.9);
  color: #292929;
}

a {
  color: #292929;
}
a:hover {
  color: #0000cc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0;
}

code,
pre {
  font-family: monospace;
}

blockquote {
  font-style: italic;
}

p {
  hyphens: auto;
}

cite {
  display: block;
  font-style: normal;
}
blockquote cite {
  font-style: italic;
}

img {
  max-width: 100%;
}

/* ==== aesthetics ========================================================== */
.aesthetics {
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

.fullbleed {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.centered {
  text-align: center;
  flex-grow: 1;
}

/* Animation */
.cursor {
  animation: cursor-blink alternate 0.75s infinite;
  will-change: opacity;
}
@-moz-keyframes cursor-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes cursor-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dark {
  background: #111;
  color: rgba(222, 231, 236, 1);
}
.light {
  background: white;
  color: rgba(5, 3, 6, 1);
}

.titlecard {
  font-weight: 600;
  font-size: 7em;
  font-size: calc(10vw + 16px);
  padding: 2em 0.1875em;
  text-transform: uppercase;
  text-shadow: -1px -1px 2px red, 1px 1px 2px blue;
  filter: blur(0.25px);
  letter-spacing: -0.01em;
  word-break: break-word;
  -webkit-font-smoothing: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .titlecard {
    /* decrease text shadow on high-DPI retina like screens */
    text-shadow: -0.5px -0.5px 1px red, 0.5px 0.5px 1px blue;
    /* increase blur to compensate for high-DPI */
    filter: blur(0.75px);
  }
}

@supports (-webkit-font-smoothing: none) {
  .titlecard {
    /* increase blue in Chrome */
    filter: blur(1px);
  }
}
