<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="home" href="{{ site.url }}">
  {% feed_meta %}
  <link rel="sitemap" type="application/xml" href="{{ site.url }}/sitemap.xml" title="sitemap">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="theme-color" content="#292929">
  <meta name="pocket-site-verification" content="0bc1c43af2aad681f67332abee59c3">
  <meta name="author" content="{{ site.data.authors[page.author].name | default: "editors" }}">

  <meta name="description" content="{{ page.excerpt | strip_html }}" />

  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">

  {% if page.metaImage %}
  <meta property="og:image" content="{{ site.url }}{{ page.metaImage }}">
  {% else %}
  <meta property="og:image" content="{{ site.url }}/static/logo.png">
  {% endif %}

  <meta property="og:image:height" content="180">
  <meta property="og:image:width" content="180">

  {% if page.metaOgType %}
  <meta property="og:type" content="{{ page.metaOgType }}">
  {% else %}
  <meta property="og:type" content="website">
  {% endif %}

  <meta property="og:description" content="{{ page.excerpt | strip_html }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@unredactedword">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ page.title }}">

  {% if page.metaImage %}
  <meta property="twitter:image" content="{{ site.url }}{{ page.metaImage }}">
  {% else %}
  <meta property="twitter:image" content="{{ site.url }}/static/logo.png">
  {% endif %}
  <meta name="twitter:image:height" content="512">
  <meta name="twitter:image:width" content="512">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">

  {% capture css %}
    {% include styles.scss %}
  {% endcapture %}
  <style>
    {{ css | scssify }}
  </style>
  {% if page.style %}
    <style>
    {{ page.style }}
    </style>
  {% endif %}
</head>
